.navbar-brand h1{
    color: #0a7543;
}


.form-control{
    min-width: 350px;
    height: 50px;
}
.seller-name{
    color:#0a7543; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.suggested-result{
    position: absolute;
    display: list-item !important;
    width: 300px;
    background-color: #fff;
    border: 1px solid #fff;
    top: 73px;
    z-index: 10;
    list-style: none;
    border-radius: 5px;
    margin-left: 10px;
    
}
.suggested-result li{
    padding: 10px;
}
.suggested-result li a{
    color: #0a7543;
    cursor: pointer;
}
