<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">


    <a class="navbar-brand" routerLink="">
      <h1><img src="assets/icon.png" alt=".png" width=""><b>-CART</b></h1>
    </a>
    <form class="d-flex" role="search" *ngIf="menuType !== 'seller'">
      <input class="form-control me-2" type="search" placeholder="Search Items" #searchInput
        (keyup)="searchProduct($event)" (blur)="hideResult()">
      <button class="btn btn-outline-success" type="submit" (click)="submitSearch(searchInput.value)" >Search</button>
      <ul class="suggested-result">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectDetails(item.id)">{{item.name}}</a>
        </li>

      </ul>
    </form>

    <!--collapse navbar-collapse -->
    <div class="" id="navbarSupportedContent" [ngSwitch]="menuType">
      <ul class="navbar-nav " *ngSwitchCase="'default'">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">SignUp/LogIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MyOrder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart({{cartItems}})</a>
        </li>
      </ul>
      <!--user-->
      <ul class="navbar-nav " *ngSwitchCase="'users'">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MyOrder</a>
        </li>
        <li class="nav-item">
          <span class="nav-link seller-name" ngbTooltip="{{userName | titlecase}}"><fa-icon 
            [icon]="icon2" size="xl"></fa-icon></span>
        </li>
       
        <li>
          <a class="nav-link" style="color: red; cursor: pointer;" title="logout" (click)="userlogout()">Logout</a>
        </li>
       
       
        <li class="nav-item">
          <a class="nav-link" href="#">Cart(0)</a>
        </li>
      </ul>
      <!--for seller-->
      <ul class="navbar-nav" *ngSwitchCase="'seller'">
        <li class="nav-item">
          <a class="nav-link active" title="product-list" routerLink='seller-home'>Product-List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="seller-add-product" title="Add-Product">Add-Product</a>
        </li>

        <li class="nav-item">
          <span class="nav-link seller-name" ngbTooltip="seller"><fa-icon style="margin-right: 5px;"
              [icon]="icon"></fa-icon>{{sellerName | titlecase}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" (click)="logout()" style="color: red;" title="logout">Logout</a>
        </li>
      </ul>
      <!--user area-->
        

        <!-- <li class="nav-item">
            <a class="nav-link" href="#">MyOrder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart(0)</a>
          </li> -->
      

    </div>
  </div>
</nav>