<div> <p class="message">{{addProductMessage}}</p></div>
<div class="add-product">
   
<form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
    <h2>Add Products</h2>

<input  type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel>
<input type="text" class="form-input" placeholder="Enter Product Price" name="price" ngModel>
<input type="text" class="form-input" placeholder="Enter Product Color" name="color" ngModel>
<input type="text" class="form-input" placeholder="Enter Product Category" name="category" ngModel>
<textarea type="text" class="form-input" placeholder="Enter Product Description" name="description" ngModel></textarea>
<input type="text" class="form-input" placeholder="Enter Product Image Url" name="image" ngModel>
<button class="form-button" type="submit">Add-Product</button>
</form>
</div>