
.product-img{
    width: 100%;
    object-fit: contain;
    height: 400px;
}
.product-details{
    margin-top: 50px;
}
.product-color{
    border-radius: 50%;
    border: 2px solid;
    width: 40px;
    height: 40px;
    
}
.details{
    margin-top: 40px;
    
}
.cart-button{
    
    border-radius: 8px;
    min-width: 170px;
    background-color: #0a7543;
    color: #fff;
    margin-top: 20px;
    border: 2px solid black;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    
}
.cart-button:hover{
    background-color: #084026;
}
h1{
    color: #0a7543;
    margin-bottom: 30px;
   
}