<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <img class="product-img" src="{{productData.image}}" alt="">

    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name}}</h1>
            <h4>Price : ₹ {{productData.price}}</h4>

            <div>
                color :
                <h4 [style.backgroundColor]="productData.color" class="product-color"></h4>
                
            </div>
            <h5>Category: <span style="color: #0a7543; font-weight: 700;">{{productData.category}}</span></h5>
            <h6>{{productData.description}}</h6>
            <div class="quantity">
                <h5>quantity :</h5>
                <button (click)="handleQuantity('minus')">-</button>
                <input type="button" style="cursor: text;" value= {{productQuantity}}>
                <button (click)="handleQuantity('plus')">+</button>
            </div>
            <button class="cart-button" (click)="AddToCart()" >Add to Cart</button>
          
            
        </div>
    </div>

</div>