<div class="seller-auth">
    <div class="signUp" *ngIf="!showLogIn">
        
        <form class="common-form" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm.value)" >
            <h2>Seller-SignUp</h2>
        
        <input  type="text" class="form-input" placeholder="Enter Name" name="name" ngModel>
        <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel>
        <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel>
        <button class="form-button" type="submit">SignUp</button>
        <a class="auth-toggle-link" (click)="openLogin()">Already have a account? Click to LogIn</a>
    
    </form>
    
    </div>
    
    <!--log in area-->
    <div class="signUp" *ngIf="showLogIn">
        <form class="common-form" #logInForm="ngForm" (ngSubmit)="logIn(logInForm.value)" >
            <h2>Seller-LogIn</h2>
        
        
        <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel>
        <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel>
        <button class="form-button" type="submit">LogIn</button>
        <a class="auth-toggle-link" (click)="openSignup()"> Don't have account? Click to SignUp</a>
    
    </form>
    
    </div>
    </div>
    