<div class="user-auth">
    <div class="signUp" *ngIf="!showLogIn">

        <form class="common-form" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm.value)">
            <h2>User-SignUp</h2>

            <input type="text" class="form-input" placeholder="Enter Name" name="name" ngModel #name="ngModel" required
                text>
            <p class="invalid-input" *ngIf="name.invalid && name.touched">! Please enter a valid field</p>
            <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel #email="ngModel"
                required email>
            <p class="invalid-input" *ngIf="email.invalid && email.touched">! Please enter a valid field</p>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel
                #password="ngModel" required minlength="8" maxlength="20">
            <p class="invalid-input" *ngIf="password.invalid && password.touched">! Please enter at least 8
                characters</p>
            <button class="form-button" [disabled]="signUpForm.invalid" type="submit">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have a account? Click to LogIn</a>

        </form>

    </div>
    <!--logIn area-->
    <div class="login" *ngIf="showLogIn">

        <form class="common-form" #logInForm="ngForm" (ngSubmit)="logIn(logInForm.value)">
            <h2>User-LogIn</h2>


            <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel #email="ngModel"
                required email>
            <p class="invalid-input" *ngIf="email.invalid && email.touched">! Please enter a valid field</p>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel
                #password="ngModel" required minlength="8" maxlength="20">
            <p class="invalid-input" *ngIf="password.invalid && password.touched">! Please enter at least 8
                characters</p>
            <button class="form-button" [disabled]="logInForm.invalid" type="submit">LogIn</button>
            <a class="auth-toggle-link" (click)="openSignup()">Don't have account? Click to SignUp</a>

        </form>

    </div>
</div>