<div class="container">
     <div class="text-center" *ngIf="isLoading">
        <div class="spinner-border text-success"  style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
       
      </div> 
	
    <ngb-carousel *ngIf="popularProducts && !isLoading">
        <ng-template *ngFor="let item of popularProducts" ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="item.image" class="product-img" alt="product-img" />
            </div>
            <div class="carousel-caption">
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
            </div>
        
        </ng-template>
    </ngb-carousel>

    <div class="product-list-wrapper" *ngIf="!isLoading">
        <h2>Trendy Products</h2>
        <div class="row">
            <div class="col-sm-3" *ngFor="let item of trendyProducts">
                <div class="product-item">
                    <img src="{{item.image}}" alt="">

                </div>
                
               
            
                
               
            </div>

        </div>

    </div>
    </div>
    
