<div> <p class="message"></p></div>
<div class="update-product">
   
<form class="common-form edit-form" #updateProduct="ngForm" (ngSubmit)="update(updateProduct.value)" >
    <h2>Update-Product</h2>
<label for="name" class="label">Product-Name-:</label>
<input  type="text" class="form-input " placeholder="Enter Product Name" name="name" ngModel="{{productData?.name}}">
<label for="name" class="label">Product-Price-:</label>
<input type="text" class="form-input" placeholder="Enter Product Price" name="price" ngModel="{{productData?.price}}">
<label for="name" class="label">Product-Color-:</label>
<input type="text" class="form-input" placeholder="Enter Product Color" name="color" ngModel="{{productData?.color}}">
<label for="name" class="label">Product-Category-:</label>
<input type="text" class="form-input" placeholder="Enter Product Category" name="category" ngModel="{{productData?.category}}">
<label for="name" class="label">Product-Description-:</label>
<textarea type="text" class="form-input" placeholder="Enter Product Description" name="description" ngModel="{{productData?.description}}"></textarea>
<label for="name" class="label">Product-Image url-:</label>
<input type="text" class="form-input" placeholder="Enter Product Image Url" name="image" ngModel="{{productData?.image}}">
<button class="form-button" type="submit">Update-Product</button>
</form>
</div>
